:root{
    --cor-da-letra-principal: #D0B084;
    --cor-da-letra-secundaria: 	#FFDAB9;
    --botao-rosa-bebe: #f6c8c7;
    --cor-de-fundo: #00030C;
}
body{
    background-color: var(--cor-de-fundo);
}
h1{
    color: var(--cor-da-letra-principal);
    font-size: 35px;
    margin: 60px 0 0 30px;
}
p{
    color: var(--cor-da-letra-secundaria);
    font-size: 25px;
    margin: 0 0 0 150px;
}
img{
    margin:0 0 0 1000px;
    width: 40%;
}
.container__botao{
    color: #FFFFFF;
    background-color:aquamarine;
    border-color:#167BF7 ;
    border-radius: 30px;
    padding: 1em;
}
